
body{
    width:100%;
    height:1000px;
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
} 
nav{
    top:0px;
    background-color:#0045aa;
    background:linear-gradient(0deg, #0045aa, 85%, #0053ca);
    height:60px;
    margin:0;
    padding:0;
    width:100%;
    position:fixed;
} 

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline;
    overflow:hidden;
} 
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline;
    overflow:hidden;
} 
    
li:first-child.menu1:hover{
    background-color:transparent;
} 

li.menu1:hover{
    background-color:azure;
    color:black;
} 

li:first-child.menu1{
    border:none;
    width:112px;
    margin-left:-20px;
} 

li.menu1{
    float:left;
    color:white;
    font-size:15px;
    font-weight:bold;
    padding:18px;
    border-left:0.5px solid black;
    cursor:pointer;
}
li.menu1:hover{
    color:black;
} 
li.menu1{
    color:white;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
} 
.logo{
    height:60px; 
    width: 150px;
    } 
li.menu1{
    float : left; 
    color: white; 
    font-size  :15px;
    font-weight: bold;
    padding:18px;
    border-left: 0.5px solid black;
    cursor: pointer;
        } 
.search{
        height:30px;
        margin: 12px;
        float: right;
        background-color:white;
        } 
 #corps{
            height:560px;
        } 
                
#news{
    height:200px;
    width:100%;
} 

video{
    border:none;
    width:80%;
    height:60%;
    position: absolute;
    } 
    
footer{
height:500px;
color:#7c9aaa;
background-color:#303440;
} 

footer a{
    color:  white;
    text-decoration:none;
    } 

#ensemble_pieds{
    height:500px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:space-between;
    margin-left:50px;
    padding-left:50px;
    padding-right:50px;
    margin-top:20px;
} 
article{
    overflow:hidden;    
    margin-left: 35px;
    } 
.titre_rubrique{
    width: 250px;
    background-color:#289dcc;
    color :white;
    padding-left:15px;
        } 
    .bas_rubrique{
         max-width:500px;
        margin-top:-19px;
        background-color:#289dcc;
        border: 1px solid #289dcc;
        display: block;
    } 
  .sociaux{
          display:grid;
          grid-template-columns: auto auto auto auto;
          justify-content: end;
          margin-right: 10px;
          position: absolute;
          top:60px;
          left: 87%;
      } 
              
.rs{
margin-left:20px;
font-size:25px;
cursor:pointer;
} 
.search input{
    height:30px;
    border:none;
    font-size:16px;
    } 
    
#reseaux{
height:45px;
border:none;
background-color:#e3e3e3;
margin-top:4%;
} 